<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <section class="habilidades">
        <div class="habilidad">
            <img src="./images/web-design.png" alt="">
            <h3>Diseño Web</h3>
            <p>Diseños basados en la <br> construccion de entornos <br>digitales completos.
        </div>
        <div class="habilidad">
            <img src="./images/design-thinking.png" alt="">
            <h3>Programacion</h3>
            <p>Programacion hecha con <br>los ultimos estandares <br>de desarrollo.</p>
        </div>
        <div class="habilidad">
            <img src="./images/responsive.png" alt="">
            <h3>Responive</h3>
            <p>Diseños completamente <br>responsivos para ser visualizados <br>en cualquier dispositivo.</p>
        </div>
    </section>
</body>
</html>
